<div class ="container">

<!--ーエラーメッセージ-->
    <% if @address.errors.any? %>
        <div id="error_explanation">
          <h3><%= @address.errors.count %>error prohibited this obj from being saved:</h3>
          <ul>
            <% @address.errors.full_messages.each do |message| %>
            <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
<!--ーエラーメッセージ-->

    <div class ="row mt-5">
      <div class ="col-md-10 offset-md-1">
        <h4>配送先登録/一覧</h4>
      </div>
    </div>

<div class ="row mt-5">
  <div class ="col-md-10 offset-md-1">

  <!--    配送先登録     -->
    <%= form_with(model:@address, local:true) do |f| %>
    <form>
        <!-- 郵便番号 -->
          <div class="field">
            <%= f.label :post_code, '郵便番号(ハイフンなし)' %>
            <%= f.text_field :post_code, autofocus: true %>
          </div>
        <!-- 郵便番号 -->
        <!--住所-->
          <div class="field">
            <%= f.label :address, '住所' %>
            <%= f.text_field :address %>
          </div>
        <!--住所-->
        <!--宛名-->
          <div class="field">
            <%= f.label :name, '宛名' %>
            <%= f.text_field :name %>
          </div>
      <!--宛名-->
    </form>
        <!--登録ボタン-->
        <div class="actions row">
          <%= f.submit "登録する" ,class: "btn btn-success col-md-2" %>
        </div>
      <!--登録ボタン-->
  <% end %>
  </div>
</div>
<!--    配送先登録     -->

<!--    配送先一覧     -->
<div class ="row mt-5">
  <div class ="col-md-10 offset-md-1">
    <table class="table table-bordered">
      <thead>
        <tr class="table-active">
          <th>郵便番号</th>
          <th>住所</th>
          <th>宛名</th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% @addresses.each do |address| %>
          <tr>
            <td><%= address.post_code %></td>

            <td><%= address.address %></td>

            <td><%= address.name %></td>

            <td>
              <%= link_to "編集する", edit_address_path(address), class: "btn-sm btn-primary edit_address_#{address.id}" %>

              <%= link_to "削除する", address_path(address), method: :delete, data: {confirm: "本当に削除してもよろしいですか？"}, class: "btn-sm btn-danger destroy_address_#{address.id}" %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<!--    配送先一覧     -->

</div>