<div class ="container">
  <div class ="row mt-5">
    <div class ="col-md-10 offset-md-1">
      <h2>新規会員登録</h2>
    </div>
  </div>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "customers/shared/error_messages", resource: resource %>

     <!-- フォーム挿入 -->
    <%= render "form", f: f %>
    <!--パスワードの追加-->
    <div class="field">
      <div class="row my-3">
        <div class="col-md-4">
          <p>パスワード(6文字以上)</p>
        </div>
        <div class="col-md-3">
          <% if @minimum_password_length %>
          <% end %>
          <%= f.password_field :password,class: "form-control", autocomplete: "new-password" %>
        </div>
      </div>
    </div>

     <div class="field">
      <div class="row my-3">
        <div class="col-md-4">
          <p>パスワード(確認用)</p>
        </div>
        <div class="col-md-3">
          <%= f.password_field :password_confirmation,class: "form-control", autocomplete: "new-password" %>
        </div>
      </div>
    </div>

　　　<!--新規登録ボタンの追加-->
    <div class="row mb-5">
      <div class="col-md-4 offset-md-4">
        <%= f.submit "新規登録",class: "btn btn-success btn-block" %>
      </div>
    </div>

  <% end %>
  <div class="container my-5">
    <div class="row">
      <div class="col-md-10 offset-1">
        <h3>既にご登録ずみの方</h3>
      </div>
    </div>
    <div class ="row mb-5">
      <div class="col-md-8 offset-md-2">
        <h5><%= link_to "こちら", new_customer_session_path %>からログインしてください</h5>
      </div>
    </div>
  </div>





