<div class ="container">
  <div class ="row mt-5">
    <div class ="col-md-10 offset-md-1">
      <h2>新規会員登録</h2>
    </div>
  </div>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "customers/shared/error_messages", resource: resource %>

<!--name漢字の追加-->
  　<div class="field">
      <div class ="row">
        <div class="col-md-3">
          <span>名前</span>
        </div>
        <div class ="col-md-1 text-right">
          <span>(姓)</span>
        </div>
        <div class ="col-md-3">
          <%= f.text_field :first_name,class: "form-control", autofocus: true, autocomplete: "first_name" %>
        </div>
        <div class ="col-md-1 text-right">
          <span>(名)</span>
        </div>
        <div class ="col-md-3">
          <%= f.text_field :last_name,class: "form-control", autofocus: true, autocomplete: "last_name" %>
        </div>
      </div>
    </div>
  <!--name漢字の追加-->

  <!--nameカナの追加-->
  　<div class="field">
      <div class="row">
        <div class="col-md-3">
          <span>フリガナ</span>
        </div>
        <div class ="col-md-1 text-right">
          <span>(セイ)</span>
        </div>
        <div class="col-md-3">
          <%= f.text_field :first_name_kana,class: "form-control", autofocus: true, autocomplete: "first_name_kana" %>
        </div>
        <div class ="col-md-1 text-right">
          <span>(メイ)</span>
        </div>
        <div class="col-md-3">
          <%= f.text_field :last_name_kana,class: "form-control", autofocus: true, autocomplete: "last_name_kana" %>
        </div>
      </div>
    </div>
    <!--nameカナの追加-->

    <div class="field">
      <div class="row my-3">
        <div class="col-md-4">
          <p>メールアドレス</p>
        </div>
        <div class="col-md-3">
          <%= f.email_field :email,class: "form-control", autofocus: true, autocomplete: "email" %>
        </div>
      </div>
    </div>

    <!--郵便番号の追加-->
    <div class="field">
      <div class="row my-3">
        <div class="col-md-4">
          <p>郵便番号(ハイフンなし)</p>
        </div>
        <div class="col-md-3">
          <%= f.text_field :post_code,class: "form-control", autofocus: true, autocomplete: "post_code" %>
        </div>
      </div>
    </div>
    <!--郵便番号の追加-->

    <!--住所の追加-->
    <div class="field">
      <div class="row my-3">
        <div class="col-md-4 ">
          <p>住所</p>
        </div>
        <div class="col-md-6">
          <%= f.text_field :address,class: "form-control", autofocus: true, autocomplete: "address" %>
        </div>
      </div>
    </div>
    <!--住所の追加-->

    <!--電話番号の追加-->
    <div class="field">
      <div class="row my-3">
        <div class="col-md-4">
          <p>電話番号(ハイフンなし)</p>
        </div>
        <div class="col-md-3">
          <%= f.text_field :phone_number,class: "form-control", autofocus: true, autocomplete: "phone_number" %>
        </div>
      </div>
    </div>
    <!--電話番号の追加-->

    <!--パスワードの追加-->
    <div class="field">
      <div class="row my-3">
        <div class="col-md-4">
          <p>パスワード(6文字以上)</p>
        </div>
        <div class="col-md-3">
          <% if @minimum_password_length %>
          <% end %>
          <%= f.password_field :password,class: "form-control", autocomplete: "new-password" %>
        </div>
      </div>
    </div>

     <div class="field">
      <div class="row my-3">
        <div class="col-md-4">
          <p>パスワード(確認用)</p>
        </div>
        <div class="col-md-3">
          <%= f.password_field :password_confirmation,class: "form-control", autocomplete: "new-password" %>
        </div>
      </div>
    </div>
　　　<!--パスワードの追加-->

　　　<!--新規登録ボタンの追加-->
    <div class="row mb-5">
      <div class="col-md-4 offset-md-4">
        <%= f.submit "新規登録",class: "btn btn-success btn-block" %>
      </div>
    </div>
    <!--新規登録ボタンの追加-->

  <% end %>
  <div class="container my-5">
    <div class="row">
      <div class="col-md-10 offset-1">
        <h3>既にご登録ずみの方</h3>
      </div>
    </div>
    <div class ="row mb-5">
      <div class="col-md-8 offset-md-2">
        <h5><%= link_to "こちら", new_customer_session_path %>からログインしてください</h5>
      </div>
    </div>
  </div>





