


<div class ="container">
  <div class ="row mt-5">
    <div class ="col-md-10 offset-md-1">
      <h2>マイページ</h2>
    </div>
  </div>
  	<div class ="row mt-5">
  		<div class="col-md-3 ">
  			<h3>登録情報</h3>
  		</div>
  		<div class="col-md-3">
    		<%= link_to "編集する",customers_edit_path, class:"btn btn-outline-primary btn-block"%>
    	</div>
    	<div class="col-md-3">
    		<%= link_to "パスワード変更する",edit_customer_password_path, class:"btn btn-outline-secondary btn-block" %>
    	</div>
  	</div>
  	<div class="row mt-5">
  		<div class="col-md-8 offset-md-2">
  			<table class ="table table-bordered">
  				<tbody>
	  				<tr>
	  					<td>氏名</td>
	  					<td><%= @customer.first_name%><%= @customer.last_name%></td>
	  				</tr>
	  				<tr>
	  					<td>カナ</td>
	  					<td><%= @customer.first_name_kana%><%= @customer.last_name_kana%></td>
	  				</tr>
	  				<tr>
	  					<td>郵便番号</td>
	  					<td><%= @customer.post_code%></td>
	  				</tr>
	  				<tr>
	  					<td>住所</td>
	  					<td><%= @customer.address%></td>
	  				</tr>
	  				<tr>
	  					<td>電話番号</td>
	  					<td><%= @customer.phone_number%></td>
	  				</tr>
	  				<tr>
	  					<td>メールアドレス</td>
	  					<td><%= @customer.email%></td>
	  				</tr>
	  			</tbody>
  			</table>
  		</div>
  	</div>

  	<div class="row mt-3">
  		<div class="col-md-3 offset-md-1">
  			<h4>配送先</h4>
  		</div>
      <!-- 配送先一覧ページ作成後ルート設定 -->
  		<div class="col-md-3">
  			<%= link_to "一覧を見る",addresses_path, class:"btn btn-outline-info btn-block" %>
  		</div>
  	</div>
  	<div class="row my-3">
  		<div class="col-md-3 offset-md-1">
  			<h4>注文履歴</h4>
  		</div>
  		<div class="col-md-3">
  			<%= link_to "一覧を見る", orders_path, class:"btn btn-outline-info btn-block" %>
  		</div>
  	</div>
</div>