<div class='container'>
  <div class='row pt-5'>
    <h3><%= @customer.full_name %>さんの会員情報編集</h3>
  </div>
  <%= form_with model:@customer, url: admins_customer_path, method: :patch, local: true do |f| %>
　　　　<!-- 会員ID -->
    <div class='row pt-3'>
      <span class='col-2'>会員ID</span>
      <div class='col-2'><%= @customer.id %></div>
    </div>
　　　　<!-- 氏名 -->
    <div class="row pt-3">
      <span class='col-2'>氏名</span>
      <div class='col-2'><%= f.text_field :first_name %></div>
      <div class='col-2'><%= f.text_field :last_name %></div>
    </div>
　　　<!-- フリガナ -->
    <div class="row pt-3">
      <span class='col-2'>フリガナ</span>
      <div class='col-2'><%= f.text_field :first_name_kana %></div>
      <div class='col-2'><%= f.text_field :last_name_kana %></div>
    </div>
　　　<!-- 郵便番号 -->
    <div class="row pt-3">
      <span class='col-2'>郵便番号</span>
      <div class='col-2'><%= f.text_field :post_code %></div>
    </div>
　　　　<!-- 住所 -->
    <div class="row pt-3">
      <span class='col-2'>住所</span>
      <div class='col-6'><%= f.text_field :address, :size=>"50" %></div>
    </div>
　　　<!-- 電話番号 -->
    <div class="row pt-3">
      <span class='col-2'>電話番号</span>
      <div class='col-4'><%= f.text_field :phone_number %></div>
    </div>
　　<!-- メールアドレス -->
    <div class="row pt-3">
      <span class='col-2'>メールアドレス</span>
      <div class='col-4'><%= f.text_field :email, :size=>"30" %></div>
    </div>
    <div class='row pt-4'>
      <div class='col-2'>
        <%= f.label :"会員ステータス", class: "control-label" %>
      </div>
      <div class='col-1'>
        <%= f.radio_button :is_active, true %>
        <%= f.label :is_active, "有効", {value: :true, style: "display: inline-block;"} %>
      </div>
      <div class='col-4'>
        <%= f.radio_button :is_active, false %>
        <%= f.label :is_active, "退会済み", {value: :false, style: "display: inline-block;"} %>
      </div>
    </div>
    <div class='row pt-4'>
      <%= f.submit '変更を保存する' ,class: "btn btn-primary" %>
    </div>
  <% end %>
</div>
