<div class="col-md-3 col-sm-4">
	<div class="image">
		<%= link_to product_path(product.id) do %>
			<%= attachment_image_tag product, :image, :fill, 200, 150 %>
		<% end %>
	</div>
	<div class="recommend-cake-name">
		<h5><%= product.name %></h5>
		<p></p>
		<% if product.is_active == false %>
			<p>￥<%= product.price %></p><p class="text-danger">売り切れ</p>
		<% else %>
			<p>￥<%= product.price %></p>
		<% end %>
	</div>
</div>
