
<div class ="container">
	<div class ="row mt-5">
		<div class="col-md-3">
			<%= render 'category', categories: @categories %>
		</div>
		<div class ="col-md-9">
			<div class="row">
				<div class ="col-md-7 sm-12">
					<%= attachment_image_tag @product, :image,:fill, 400, 300 %>
				</div>
				<div class ="col-md-5 sm-12">
					<div class="row ml-2 pt-4">
						<h2><%= @product.name %></h2>
					</div>
					<div class="row ml-2 mt-3">
						<h5><%= @product.introduction %></h5>
					</div>
						<div class="text-align-bottom">
							<h4>¥<%= @product.price %>（税込)</h4>
						</div>
					</div>
				</div>
				
			</div>
		</div>
	</div>
</div>
