<div class="container">
  <div class="row p-5">
    <div class="col-md-5 text-right">
      <h3>管理者ログイン</h3>
    </div>
  </div>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="row">
    <div class="field">
      <div class="col-md-5 text-right">
        <%= f.label :メールアドレス %>
      </div>
      <div class="col-md-7">
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="field">
      <div class="col-md-5 text-right">
        <%= f.label :パスワード %>
      </div>
      <div class="col-md-7">
        <%= f.password_field :password, autocomplete: "current-password" %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col text-center">
      <div class="actions"> <br>
        <%= f.submit "ログイン", class: "btn btn-primary" %>
      </div>
    </div>
  </div>
  <% end %>
</div>