<!-- タイトル -->
<div class="row">
	<h2 class="col-4 m-4 text-center">商品新規登録</h2>
</div>

<div class="row">

	<!-- 画像登録 -->
	<div class="col-4  text-center">
		<%= form_with model:@product, url:admins_products_path, method: :post, local: true do |item| %>
		<%= item.attachment_field :image %>
	</div>

	<!-- 入力form -->
	<div class="col-4 text-center">
		<div class="row"><div class="col-4 text-left"><span>商品名</span></div>
			<div class="col-8">
				<div class="row">
					<%=  item.text_field :name,class:"form-control" %>
				</div><br>
			</div>
		</div>

		<div class="row"><div class="col-4 text-left"><span>商品説明</span></div>
			<div class="col-8">
				<div class="row">
					<%=  item.text_area :introduction,class:"form-control" %>
				</div><br>
			</div>
		</div>

		<div class="row"><div class="col-4 text-left"><span>ジャンル</span></div>
			<div class="col-8">
				<div class="row">
					<%= item.collection_select :category_id, Category.all, :id, :category_name, {prompt: "選択してください"},{ class: 'form-control'} %>
				</div><br>
			</div>
		</div>

		<div class="row"><div class="col-4 text-left"><span>税抜価格</span></div>
			<div class="col-8">
				<div class="row">
					<%=  item.text_field :price,class:"form-control" %>
				</div><br>
			</div>
		</div>

		<div class="row"><div class="col-4 text-left"><span>販売<br>ステータス</span></div>
			<div class="col-8">
				<div class="row">
					<%=  item.select :is_active, {'有効': true, '無効': false}, { include_blank: '選択してください'}, { class:"form-control", required: true } %>
				</div><br>
			</div>
		</div>
	</div>
</div>

<!-- 登録ボタン -->
<div class="row">
	<div class="col-11 text-right">
		<%= item.submit "新規登録", class: "btn-primary"  %>
		<% end %>
	</div>
</div>
