<!DOCTYPE html>
<html>
  <head>
    <title>Patisserie</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://kit.fontawesome.com/188b0a3462.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container">
        <h4 class="navbar-brand">NAGANO CAKE</h4>
        <!-- サインイン後に名前出るようにあとで修正します -->
        <p class="navbar-text navbar-right">ようこそゲストさん</p>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-end" id="navbarNav" >
          <div class="nav-icon">
            <ul class="navbar-nav ">
              <% if customer_signed_in? %>
                  <li class="nav-item">
                  <%= link_to "マイページ", customers_my_page_path, class: "nav-link" %>
                  </li>
                  <li class="nav-item">
                  <%= link_to "商品一覧", products_path, class: "nav-link" %>
                  </li>
                </li>
                <li class="nav-item">
                  <%= link_to "カート", cart_products_path, class: "nav-link" %>
                </li>
                <li class="nav-item">
                  <%= link_to "ログアウト", destroy_customer_session_path, class: "nav-link", :method=>:delete %>
                </li>
              <% else %>
              <!-- カスタマーログイン後 -->
                <li class="nav-item">
                  <%= link_to "About", about_path, class: "nav-link" %>
                </li>
                <li class="nav-item">
                  <%= link_to "商品一覧", products_path, class: "nav-link" %>
                </li>
                <li class="nav-item">
                  <%= link_to "新規登録", new_customer_registration_path, class: "nav-link" %>
                </li>
                <li class="nav-item">
                  <%= link_to "ログイン", new_customer_session_path, class: "nav-link" %>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    </nav>

  <body>
    <%= yield %>
  </body>
</html>
